@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: Arial, sans-serif;
}

body{
    background-color:#21222C;
    color: white;
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    font-family: 'Open Sans';
    margin: 0;
    width: 10vw;
    background-color:#262833;
    color: white;
    height: 4.5vh;
    font-size: 1vw;
    padding-top:1vh;
    padding-bottom:0.5vw;
    padding-left:2.8vw;
    cursor: pointer;
    display:flex;
    border-radius: 3px;
}


.delete{
    border: none;
    font-family: 'Open Sans';
    background-color:#262833;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-right:10%;
}

.subtitle{
    font-size: 3vh;
}

.app{
    height: auto;
    background-color:#313442;
    width:auto;
    margin: auto;
    margin-top: 2em;
    padding:2em;
    display:block;
}

.input-txt{
    transition:1s;
    height:5vh;
    width:20vw;
    border:none;
    margin-bottom:3vh;
    background-color:#262833;
    color: white;
    padding-left:1vw;
}

nav{
    background-color:#262833;
    color: black;
    display: flex;
    height: 1em;
    padding:0.5em;
    font-size: 4vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: 2vh;
}

a{
    text-decoration:none;
    color: inherit;
}

a:hover{
    text-decoration:none;
    color: inherit;
    color:#606582;
    transition:0.5s;
}

.input-txt:hover{
    transition:1s;
    background-color:white;
    color: black;
}

.item-list{
    border: none;
    height: auto;
    width: 20em;
    background-color:white;
    color: black;
    display: flex;
    margin-top: 1.5em;
    padding-left:1em;
    padding-top: 1vh;
    padding-bottom:1vh;
}