:root{
    --titulo:#eacdc2;
    --texto:#f7fff7;
    --fundo: #1e1e24;
    --fundo-hover:white;
    --texto-hover:black;
    --fundo-claro:#E63462;  
    --borda:#f7fff7;
    --fundo2:#1e1e24;
    --fundo3:#E63462;
}

*{
    box-sizing: border-box;
}

html{
    display: flex;  
    justify-content: center;
    align-items:center;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction:column;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo-html:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--fundo);
}

.logo-css:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--fundo);
}

.logo-node:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--fundo);
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background:var(--fundo)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--fundo3);
    border-radius: 0px;
  }

*{
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    color: var(--titulo);
    background-color: var(--fundo);
  }

body{
    background-color: var(--fundo);
}


main.area-principal{ 
    display: block;
    height: auto;
    width: 100%;
    z-index: 1;
}

section#principal{
    background-image: url('../images/principal/capa.jpg');
    display: flex;
    justify-content: flex-start;
    padding: 15% 100px;
    align-items: center;
    color: var(--texto);
    flex-direction: row;
    position: relative;
    z-index: 9999;
    background-size: cover;
}

section#principal h3{
    font-size: 1.2rem;
    z-index: 99;
}

section#principal h1{
    font-size: 3rem;
    z-index: 99;
}

section#principal h2{
    font-size: 2rem;
    z-index: 99;
}

.subtitle .funcoes{
    color: var(--texto);
}

.buttons-wrapper-principal{
    display:flex;
    flex-direction:row;
}

.buttons-wrapper-principal .button{
    width:10rem;
    margin-top:2.5%;
    height:3rem;
    background-color:var(--fundo);
    border: 1px solid var(--texto);
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    margin-right:10px;
    font-size: 0.8rem;
    color: var(--texto);
    border-radius: 10px;
}

.button#contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contato{
    padding-left: 10px;
}

/* Nav */

nav li a:hover:not(#sobre){
    color:var(--fundo-claro);
    transition: all 0.3s ease-in-out;
}

.navegacao{
    display: block;
    width: 100%;
    z-index: 99;
}

.navegacao.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;   
}

.width-nav.sticky-content{
    filter: blur(1px);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    filter: blur(0.5px);
    border: none;
    z-index: 0;
}

main{
    display: block;
    width: 100%;
}

.width-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: var(--fundo2);
    color:var(--texto);
}

.logo{
    font-size:2rem;
}

ul.links{
    display: flex;
    flex-direction: row;
}

ul.links li:first-child{
    background-color: var(--fundo3);
    color: var(--texto);
    transition: all 0.2s ease-in-out;
    border-radius:5px
}

ul.links li:first-child:hover{
    background-color: var(--texto);
    color: var(--fundo2);
    transition: all 0.2s ease-in-out;
    border-radius:5px;
    cursor:pointer;
}

li{
    list-style-type: none;
    padding: 10px 30px;
    font-size:1rem;
}

#hamburger, #icon-burg{
    display: none;
}

#sobre-mim{
    background-color: var(--fundo2);
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
}

article.sobre-esquerdo{
    margin-left:150px;
}

article.sobre-esquerdo img#perfil-imagem{
    height: 250px;
    width: 250px;
}

article.sobre-esquerdo::before{
   background-color:var(--texto);
   width:100%;
   height:100%;
}

img#perfil-imagem{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    margin-left: 50px;
    border:0.5rem var(--fundo-hover) solid;
}

img#perfil-imagem:hover{
    transform: scale(1.1);
    cursor: pointer;
    border:0.1rem var(--fundo-hover);
    border-style:dotted;
    transition: all 0.3s ease-in-out;
}

article.sobre-direito{
    color: var(--texto);
    margin-left:10%;
}

article.sobre-direito p.text, article.sobre-direito h1.title{
    width: 60%;
}

article.sobre-direito h2.title{
    font-size:2rem;
    margin-bottom:0.5rem;
    padding-bottom:0.5rem;
}

.buttons-wrapper{
    display:flex;
    flex-direction:row;
}

.buttons-wrapper .button{
    width:5rem;
    margin-top:2.5%;
    height:2rem;
    border:var(--borda) solid 0.1rem;
    color:var(--texto);
    background: var(--fundo2);
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    text-align:center;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 1%;
    margin-right:10px;
    font-size: 0.8rem;
}

.button:hover{
    background:var(--fundo-hover);
    color:var(--texto-hover);
    border-radius:5px;
}

#github{
    padding:0 0.5%;
}

ion-icon{
    font-size:24px;
}

/* Estilos compartilhados */
main section#meus-trabalhos, #meus-projetos-js{
    background-color: var(--fundo3);
    width: auto;
    display: flex;
    justify-content: center;
}

#meus-trabalhos h2.title, article.projetosjs h2.title{
    text-align: center;
    margin:2.5% 0 1% 0;
    color:var(--texto)
}

.grupo-trabalhos, .grupo-projetos-js{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Meus trabalhos */

main section#meus-trabalhos{
    height:fit-content;
    padding-bottom:2%;
}

span.efeito-logo{
    color: inherit;
    transition: all 0.3s ease-in-out;
}

span.efeito-logo:hover{
    color: var(--fundo-claro);
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
    text-decoration:underline 0.2rem;
}

.bloco-trabalho{
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: var(--fundo2);
    margin: 20px 50px;
    color: var(--texto);
    border-radius: 5px;
}

.bloco-trabalho:hover{
    color:var(--texto-hover);
    background-color: var(--fundo-hover);
    border:1px solid var(--fundo-3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Projetos Js */

#meus-projetos-js{
    background: var(--fundo);
}

article.projetosjs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-js{
    display: flex;
    align-items: left;    
    justify-content: center;
    flex-direction:column;
    height: 350px;
    width: 350px;
    background-color: var(--fundo3);
    margin: 20px 50px;
    color: var(--texto);
    border-radius: 8px;
    padding: 8px;
}

.card-js-header{
    font-size:1.2rem;
    color: var(--texto);
    padding: 4px;
}

.card-js-content img{
    height:100%;
    width:100%;
    border-radius:4px;
    transition:all 0.2s ease-in-out;
}

.card-js-content img:hover{
    border-radius:4px;
    transition:all 0.15s ease-in-out;
    transform: scale(1.15);
    cursor: pointer;
}

.card-js-description{
    font-size:1rem;
    width: 100%;
    height: 100%;
    padding: 4px;
}

#container-mini-projetos{
    margin-top: 2%;
}

/* Responsividade */
@media (max-width:1300px){
    .grupo-trabalhos{
        flex-direction: column;
    }

    .grupo-projetos-js{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1000px){
    article.sobre-esquerdo img#perfil-imagem{
        display:none;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    #hamburger, #icon-burg{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    nav ul li{
        display: none;
    }
    
    .grupo-trabalhos{
        flex-direction: column;
    }

    .grupo-projetos-js{
        flex-direction: column;
    }
    
    article.sobre-esquerdo{
        margin-left:0px;
    }

    article.sobre-direito{
        margin-top: 20%;
    }

    nav{
        padding: 0;
    }

    #sobre-mim{
        flex-direction: column;
        margin:0px;
        padding-top:0;
        height:fit-content;
        padding-bottom:10%;
        
    }

    article.sobre-direito{
        flex: 1;
        margin:0px;
        padding:5% 0% 0% 5%;
    }

    .width-nav{
    padding-left:5%;
    }
    
}

@media (max-width:800px){

    html{
        width:fit-content;
    }

    body{
        width:100%;
    }

    section#principal{
        padding:50px;
    }

    #contato{
        margin-top:10%;
    }

    main#id-area{
        width:100%;
    }
    
    article.sobre-direito{
        flex: 1;
        margin:0px;
        padding:5% 0% 0% 5%;
    }

    section#sobre-mim{
        width:100%;
    }

    .width-nav{
    padding-left:5%;
    }

    #meus-trabalhos h2.title, article.projetosjs h2.title{
        text-align: center;
        margin:5% 0 2.5% 0;
        color:var(--texto)
    }

    article.sobre-direito p.text, article.sobre-direito h1.title{
    width: 88%;
}
    section#meus-trabalahos{
        width:100%;
        background-color:var(--fundo3)
    }

}