html{
    margin: 0;
    padding: 0;
    background-color:#0E0D1C;
    overflow: hidden;
}

.dio{
    text-align: center;
    position: absolute;
    height:100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#stop{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}