html{
    margin: 0;
    padding: 0;
    background-color:#0E0D1C;
    overflow: hidden;
}

#stop{
    width: 10%;
    height: 10%;
    display:absolute;
    position: absolute;
    z-index:3;
    top:0;  
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

video{
    transform: scaleX(1.3);
    width: 100%;
    height: 100%;
    display:absolute;
    position: absolute;
    z-index:2;
    top:0;  
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}