@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: Arial, sans-serif;
}

body{
    background-color:#21222C;
    color: white;
    margin: 0;
    padding: 0;
}

.container{
    display:block;
    background-color:#313442;
    width:20em;
    margin: auto;
    margin-top: 12em;
    padding:2em;
}

.container > .timer{
    font-family: "time";
    font-size: 3em;
    text-align: center;
}

nav{
    background-color:#262833;
    color: black;
    display: flex;
    height: 1em;
    padding:0.5em;
    font-size: 4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer{
    text-align: center;
    font-style: italic;
}

.btn-normal{
    border: none;
    font-family: 'Open Sans';
    margin: 0;
    background-color:#262833;
    color: white;
    width: 6em;
    padding: 1em;
    cursor: pointer;
}

#buttons_container{
    display: flex;
    margin-left: 4.5em;
    text-align: center;
}

#start{
    margin-right: 0.5em;
}

#stop{
    margin-right: 0.5em;
}

a{
    text-decoration:none;
    color: inherit;
}

a:hover{
    text-decoration:none;
    color: inherit;
    color:#606582;
    transition:0.5s;
}