@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: Arial, sans-serif;
}

body{
    background-color:#21222C;
    color: white;
    margin: 0;
    padding: 0;
}

.btn-large{
    border: none;
    font-family: 'Open Sans';
    margin: 0;
    width: 50%;
    background-color:#262833;
    color: white;
    padding: 1em;
    cursor: pointer;
    display:flex;
}

.randomizer > #randomizer{
    display: inline;
    margin-top: 4em;
}

.randomizer{
    height: 10em;
    width: 40vw;
    background-color:#313442;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 3em;
}

.text-img{
    color:black;
    text-align: center;
    font-size:1.5em;
    font-family: "Open Sans", Arial, sans-serif;
}

.container{
    display:block;
    background-color:#313442;
    width:100vw;
    margin: auto;
    margin-top: 2em;
    padding:2em;
}

.img-slot{
    width: 20em;
    height:15em;
    margin:1em;
    background:white;
    display:inline-block;
}

.img-model{
    width: 20em;
    height:10em;
}

nav{
    background-color:#262833;
    color: black;
    display: flex;
    height: 1em;
    padding:0.5em;
    font-size: 4vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer{
    text-align: center;
    font-style: italic;
}

a{
    text-decoration:none;
    color: inherit;
}

a:hover{
    text-decoration:none;
    color: inherit;
    color:#606582;
    transition:0.5s;
}